data-collector/wsdl/jisi-2007.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jisi="http://jisi.com/2007"
            targetNamespace="http://jisi.com/2007"
            elementFormDefault="qualified">
    
    <!-- JISI 2007 namespace definitions -->
    <xsd:complexType name="BaseRequestType">
        <xsd:sequence>
            <xsd:element name="requestId" type="xsd:string"/>
            <xsd:element name="timestamp" type="xsd:dateTime"/>
            <xsd:element name="version" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="BaseResponseType">
        <xsd:sequence>
            <xsd:element name="responseId" type="xsd:string"/>
            <xsd:element name="timestamp" type="xsd:dateTime"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="PaginationType">
        <xsd:sequence>
            <xsd:element name="pageNumber" type="xsd:int"/>
            <xsd:element name="pageSize" type="xsd:int"/>
            <xsd:element name="totalRecords" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>
