data-collector/samples/sample_inheritance_wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:jisi="http://jisi.example.com/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://tempuri.org/">
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/"
                xmlns:jisi="http://jisi.example.com/">
      
      <!-- Base type definition -->
      <xsd:complexType name="ServiceRequest">
        <xsd:sequence>
          <xsd:element name="requestId" type="xsd:string"/>
          <xsd:element name="timestamp" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <!-- Complex type that extends base type -->
      <xsd:complexType name="ListProfileReq">
        <xsd:complexContent>
          <xsd:extension base="jisi:ServiceRequest">
            <xsd:sequence>
              <xsd:element name="cache" type="xsd:boolean" nillable="false"/>
              <xsd:element name="entitlements" type="xsd:boolean" nillable="false"/>
              <xsd:element name="mailbox" type="xsd:boolean" nillable="false"/>
              <xsd:element name="offers" type="xsd:boolean" nillable="false"/>
              <xsd:element name="profileId" type="xsd:long" nillable="false"/>
              <xsd:element name="personId" type="xsd:long" nillable="false"/>
              <xsd:element name="asyncCISOffers" type="xsd:boolean" nillable="false"/>
              <xsd:element name="entityCache" type="tns:EntityCache" minOccurs="0" nillable="true"/>
              <xsd:element name="cardAuthUserAccountInclude" type="xsd:boolean" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      
      <!-- EntityCache complex type -->
      <xsd:complexType name="EntityCache">
        <xsd:sequence>
          <xsd:element name="cacheKey" type="xsd:string"/>
          <xsd:element name="cacheValue" type="xsd:string"/>
          <xsd:element name="expiryTime" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <!-- Response type -->
      <xsd:complexType name="ListProfileRes">
        <xsd:sequence>
          <xsd:element name="status" type="xsd:string"/>
          <xsd:element name="profileData" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <!-- Element declarations -->
      <xsd:element name="ListProfileRq" type="tns:ListProfileReq"/>
      <xsd:element name="ListProfileRs" type="tns:ListProfileRes"/>
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="listProfileReq">
    <wsdl:part name="request" element="tns:ListProfileRq"/>
  </wsdl:message>
  
  <wsdl:message name="listProfileRes">
    <wsdl:part name="response" element="tns:ListProfileRs"/>
  </wsdl:message>
  
  <wsdl:portType name="FullProfileDetailPortType">
    <wsdl:operation name="listProfile">
      <wsdl:input name="listProfileReq" message="tns:listProfileReq"/>
      <wsdl:output name="listProfileRes" message="tns:listProfileRes"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="FullProfileDetailPortTypeSoap" type="tns:FullProfileDetailPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listProfile">
      <soap:operation soapAction="http://tempuri.org/listProfile" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="FullProfileDetailService">
    <wsdl:port name="FullProfileDetailPortTypeSoap" binding="tns:FullProfileDetailPortTypeSoap">
      <soap:address location="http://localhost:8080/FullProfileDetailService.asmx"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
