data-collector/samples/sample_complex_namespace_wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://tempuri.org/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://tempuri.org/">
  
  <wsdl:types>
    <xsd:schema
      targetNamespace="http://cig.bank.net/20200712/gws/profile/test"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:profile="http://cig.bank.net/20200712/gws/profile/test">

      <xsd:import namespace="http://cig.bank.net/20200712/gws/profile/test" 
                   schemaLocation="http://cig.bank.net/20200712/gws/profile/test/GetWeatherRequest.xsd"/>

      <xsd:complexType name="GetWeatherRequest">
        <xsd:sequence>
          <xsd:element name="CityName" type="xsd:string"/>
          <xsd:element name="CountryCode" type="xsd:string"/>
          <xsd:element name="ContactInfo">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Email" type="xsd:string"/>
                <xsd:element name="Phone" type="xsd:string"/>
                <xsd:element name="Address">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Street" type="xsd:string"/>
                      <xsd:element name="City" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:element name="GetWeatherRq" type="profile:GetWeatherRequest"/>
      
      <xsd:complexType name="GetWeatherResponse">
        <xsd:sequence>
          <xsd:element name="Temperature" type="xsd:float"/>
          <xsd:element name="Humidity" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:element name="GetWeatherRs" type="profile:GetWeatherResponse"/>
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="GetWeatherRequest">
    <wsdl:part name="parameters" element="profile:GetWeatherRq"/>
  </wsdl:message>
  
  <wsdl:message name="GetWeatherResponse">
    <wsdl:part name="parameters" element="profile:GetWeatherRs"/>
  </wsdl:message>
  
  <wsdl:portType name="WeatherService">
    <wsdl:operation name="GetWeather">
      <wsdl:input message="tns:GetWeatherRequest"/>
      <wsdl:output message="tns:GetWeatherResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="WeatherServiceSoap" type="tns:WeatherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetWeather">
      <soap:operation soapAction="http://tempuri.org/GetWeather" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="WeatherService">
    <wsdl:port name="WeatherServiceSoap" binding="tns:WeatherServiceSoap">
      <soap:address location="http://localhost:8080/WeatherService.asmx"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
